<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>反馈信息</title>
    <meta name="keywords" content="安徽和正工程咨询有限公司,和正造价,安徽工程咨询公司">
    <meta name="description" content="安徽和正工程咨询有限公司始建于2016年9月，是一家具有独立法人资格的、新型的现代化企业制公司，企业注册资本1000万元人民币。">
    <meta name="author" content="安徽和正工程咨询有限公司">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/hezheng/images/favicon.ico}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/hezheng/images/apple-touch-icon.png}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/style.css}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/versions.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/custom.css}">
    <link rel="stylesheet" th:href="@{/hezheng/css/page.css}">
    <link rel="stylesheet" th:href="@{/hezheng/css/mStyle.css}">

    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body class="politics_version">


<div th:insert="~{head/header :: headerFragment}"></div>
<div th:insert="~{head/header :: titleHideFragment}"></div>

<div id="about" class="section wb hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div th:insert="~{body/body :: sideFragment}"></div>
            </div><!-- end col -->

            <div class="col-md-9 col-sm-12 m40">
                <div class="message-box">
                    <div th:insert="~{body/body :: titleFragment}"></div>

                    <p th:text="#{hezheng.phone}">联系电话：0556-5223732  </p>
                    <p th:text="#{hezheng.email}">邮箱：755678521@qq.com</p>
                    <p th:text="#{hezheng.address}">联系地址：安庆市宜秀区龙眠山路与白泽路交叉口宝瑞商城三楼</p>
                    <p>想了解更多公司信息，可关注安徽和正公司微信公众号：</p>
                    <p>如果您有什么好的意见或建议,可以点击此处进行反馈,感谢您的支持:  <a class="btn btn-primary" style="margin-left:10px" th:href="@{/aboutme/callback}">反馈</a></p>
                </div><!-- end messagebox -->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <img width="80%" th:src="#{hezheng.callMeImg}" alt="">
                    </div>
                </div>
            </div><!-- end col -->
            <hr>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->


<div class="modal-content section visible-xs visible-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div th:insert="~{body/body :: sideFragment}"></div>
            </div><!-- end col -->

            <div class="col-md-9 col-sm-12 m40">
                <div class="message-box">
                    <div th:insert="~{body/body :: titleFragment}"></div>

                    <p th:text="#{hezheng.phone}">联系电话：0556-5223732  </p>
                    <p th:text="#{hezheng.email}">邮箱：755678521@qq.com</p>
                    <p th:text="#{hezheng.address}">联系地址：安庆市宜秀区龙眠山路与白泽路交叉口宝瑞商城三楼</p>
                    <p>想了解更多公司信息，可关注安徽和正公司微信公众号：</p>
                    <p>如果您有什么好的意见或建议,可以点击此处进行反馈,感谢您的支持:</p><a class="btn btn-primary"  th:href="@{/aboutme/callback}">反馈</a>
                </div><!-- end messagebox -->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <img width="80%" th:src="#{hezheng.callMeImg}" alt="">
                    </div>
                </div>
            </div><!-- end col -->
            <hr>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div th:insert="~{head/footer :: footerFragment}"></div>
<div th:insert="~{head/footer :: sidebarFragment}"></div>
<div th:insert="~{head/footer :: totopFragment}"></div>
<div th:insert="~{head/resource :: jsFragment}"></div>
</body>
</html>