<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title th:text="${HTML.title}"></title>
    <meta name="keywords" content="安徽和正工程咨询有限公司,和正造价,安徽工程咨询公司">
    <meta name="description" content="安徽和正工程咨询有限公司始建于2016年9月，是一家具有独立法人资格的、新型的现代化企业制公司，企业注册资本1000万元人民币。">
    <meta name="author" content="安徽和正工程咨询有限公司">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/hezheng/images/favicon.ico}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/hezheng/images/apple-touch-icon.png}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/style.css}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/versions.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/hezheng/css/custom.css}">
    <link rel="stylesheet" th:href="@{/hezheng/css/page.css}">
    <link rel="stylesheet" th:href="@{/hezheng/css/mStyle.css}">
    <link rel="stylesheet" th:href="@{/hezheng/css/pullToRefresh.css}"/>


    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body class="politics_version">


<div th:insert="~{head/header :: headerFragment}"></div>
<div th:insert="~{head/header :: titleFragment}"></div>
<input type="hidden" id="port" th:value="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}">
<div id="about" class="section wb hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div th:insert="~{body/body :: sideFragment}"></div>
            </div><!-- end col -->
            <div class="col-md-9 m40" >
                <div class="message-box">

                    <div th:insert="~{body/body :: titleFragment}"></div>
                    <a class="btn btn-sm btn-primary" style="margin-bottom: 20px;margin-right: 20px;float: right" th:href="@{/preview/addPage/}+${HTML.textEntity.id}">新建</a>
                    <div class="row">
                        <table class="table table-hover table-style" style="border-collapse:inherit">
                            <tr th:each="item:${HTML.textEntity.content}" class="fa-border">
                                <td style="padding:15px;border:1">
                                    <a thref="javascript:;">
                                        [[${item.name}]]
                                    </a>
                                    <!--<a class="btn btn-sm btn-primary" th:href="@{/preview/editPage/}+${item.textId}+@{/1}">编辑</a>-->
                                    <!--<button class="btn btn-sm delBtn btn-primary" th:attr="del_uri=@{/preview/deletePage/}+${item.id}">删除</button>-->
                                    <button class="btn btn-sm delBtn btn-primary"style="float: right;margin-right: 10px;" th:attr="del_uri=@{/preview/deletePage/}+${item.id}">删除</button>
                                    <a class="btn btn-sm btn-primary" style="float: right;margin-right: 10px;" th:href="@{/preview/editPage/}+${item.textId}+@{/1}">编辑</a>
                                </td></tr>
                        </table>
                    </div><!-- end row -->
                    <div class="row">
                        <div>
                            <div id="pager" class="pager clearfix">
                            </div>
                        </div>
                    </div>
                </div><!-- end messagebox -->
            </div><!-- end col -->
            <hr class="hr3">
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="container-fluid visible-xs visible-sm">
    <div class="row">
        <div class=" m40 col-xs-12 col-sm-12" >
            <div class="message-box">
                <h2 th:text="${HTML.textEntity.title}">学习园地</h2>
                <h4 th:text="${HTML.textEntity.alia}">Company Learning</h4>
                <hr>

                    <div id="test">
                        <div th:each="item:${HTML.textEntity.content}" >
                            <div class="row "   >
                                <a href="javascript:;">
                                    <div th:unless="${#strings.isEmpty(item.imgUrl)}" class="col-sm-5 col-xs-5">
                                        <img width="100%" th:src="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort() } + @{/getPicResource?path=}
                                        + @{'} + ${item.imgUrl} + @{'}" alt="">

                                    </div>
                                    <div th:unless="${#strings.isEmpty(item.imgUrl)}" class="col-sm-7 col-xs-7">
                                        <h3 th:text="${item.name}">安庆市审计局交流通知</h3>
                                        <span th:text="${item.abstractText}" class="text-long-hidden">因为dfdfdfdfdf稻理不是知识,道理是这里,这里是经验实践出来的稻理这里在省一位就是郑雪</span>
                                    </div>
                                    <div th:if="${#strings.isEmpty(item.imgUrl)}" class="col-sm-12 col-xs-12">
                                        <h3 th:text="${item.name}">安庆市审计局交流通知</h3>
                                        <span th:text="${item.abstractText}" class="text-short-hidden">因为稻理不dfdfdfdfdfdf是知识,道理是这里,这里是经验实践出来的稻理这里在省一位就是郑雪</span>
                                    </div>
                                </a>
                            </div><!-- end row -->
                            <hr>
                        </div>
                    </div>
                <div id="wrapper" class="readMore">
                    <ul></ul>
                </div><!-- end wrapper -->
            </div><!-- end messagebox -->
        </div><!-- end col -->
        <hr class="hr3">
    </div><!-- end row -->
</div><!-- end container -->

<div th:insert="~{head/footer :: footerFragment}"></div>
<div th:insert="~{head/footer :: sidebarFragment}"></div>
<div th:insert="~{head/footer :: totopFragment}"></div>
<div th:insert="~{head/resource :: jsFragment}"></div>
<script th:src="@{/hezheng/js/iscroll.js}"></script>
<script th:src="@{/hezheng/js/pullToRefresh.js}"></script>


<script>
    let totalData= [[${pageable == null? 10:pageable.totalElements}]];//总条数
    let pageData= [[${pageable == null? 10:pageable.size}]]; //每页条数
    let pageCount=[[${pageable == null? 10:pageable.totalPages}]];//总页数
    let current= [[${pageable == null ? 1:pageable.number+1}]];//当前页数
    let pageStep= 8; //当前可见最多页码个数
    let minPage= 5; //最小页码数，页码小于此数值则不显示上下分页按钮
    let btnShow= true;
    let ajaxSetData= false;


    let currentUrl = window.location.href;
    let currentCutPoint = currentUrl.lastIndexOf("/");
    let cUrl = currentUrl.substr(currentCutPoint+1);

    let i = parseInt(cUrl) + 1;


    $("#pager").zPager({
        totalData:totalData,//总条数
        pageData: pageData, //每页条数
        pageCount:pageCount,//总页数
        current:current,//当前页数
        pageStep: pageStep, //当前可见最多页码个数
        minPage: minPage, //最小页码数，页码小于此数值则不显示上下分页按钮
        btnShow: btnShow,
        ajaxSetData: ajaxSetData
    });

    $(function () {

        $('.btn-primary').css('display','none')

        $('.pager a').click(function () {
            console.log($(this).attr('disabled'))
            if($(this).attr('disabled') == 'disabled'){
                return false;
            }
            let url = window.location.href
            console.log(url)
            let cutPoint = url.lastIndexOf("/")
            console.log($(this).html())
            let nextUrl = url.substr(0,cutPoint) + "/" + $(this).attr('page-id')
            console.log(nextUrl)
            window.location.href = nextUrl

        })
    });


    function currentPage(currentPage){
    }



    $(function () {
        $('.delBtn').click(function () {
            let url = $(this).attr('del_uri');
            console.log(url);
            swal({
                title:"你确定要删除吗,删除后其对应的文章也会删除",
                icon: "info",
                buttons: ["取消","确定"],
                dangerMode: true,
            }).then((willSubmit) => {
                if (willSubmit) {
                    console.log($('#editable').html());
                    $.ajax({
                        type:"GET",
                        url:url,
                        dataType:"json",
                        success:function(data){
                            if(data.code){
                                swal({
                                    title: "删除成功",
                                    text: data.msg,
                                    icon: "success",
                                    button: "确定",
                                }).then((value) => {
                                    window.location.reload()
                                });
                            }else{
                                swal({
                                    title: "删除失败",
                                    text: data.msg,
                                    icon: "info",
                                    button: "确定",
                                });
                            }
                        },
                        error:function(jqXHR){
                            swal({
                                title: "生成",
                                text: "出错了!链接中断",
                                icon: "error",
                                button: "确定",
                            });
                        }
                    });
                }
            });
        })
    })

    refresher.init({
        id:"wrapper",
        pullDownAction:Refresh,
        pullUpAction:Load
    });
    function Refresh() {
        setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
            var el, li, i;
            el =document.querySelector("#wrapper");
            setTimeout(function () {
                wrapper.refresh();
                document.getElementById("wrapper").querySelector(".pullDownLabel").innerHTML="";
            },1000);//模拟qq下拉刷新显示成功效果
        }, 1000);
    }

    $(function () {
        $('.readMore').click(function () {
            $(".pullUpLabel").html("加载中...")
            Load()
        })
    })


    function Load() {
        setTimeout(function () {// <-- Simulate network congestion, remove setTimeout from production!
            let href=window.location.href;
            let point=href.lastIndexOf("/")
            let url= href.substr(0,point)+"/ajax/"+i
            let baseUrl = $('#port').val()
            let toUrl = "/getPicResource?path="
            $.get(url,function(data){

                if(data.code){

                    var size =data.imgTextList.length;
                    var list=data.imgTextList;
                    console.log( size);
                    if(data!=null){
                        for(var j=0;j<size;j++){
                            if (list[j].imgUrl!==""&&list[j].imgUrl!==null){
                                $("#test ").append(
                                    "<div>"+
                                    "<div class=\"row\"> " +
                                    "<a  href=\""+list[j].url +"\"> " +
                                    "<div class=\"col-sm-5 col-xs-5\">" +
                                    "<img width=\"100%\"   src="+ baseUrl + toUrl +"'"+ list[j].imgUrl + "' alt=\"\">"+
                                    "</div>"+
                                    "<div   class=\"col-sm-7 col-xs-7\">"+
                                    "<h3 >"+list[j].name+"</h3>"+
                                    "<span  class=\"text-long-hidden\"\">" + list[j].abstractText+"</span>"+
                                    "</div>"+
                                    "</a>" +
                                    "</div>"+
                                    "<hr>"+
                                    "</div>"
                                )
                            }else{
                                $("#test ").append(
                                    "<div>"+
                                    "<div class=\"row\"> " +
                                    "<a  href=\""+list[j].url +"\"> " +
                                    "<div class=\"col-sm-5 col-xs-5\">" +
                                    "<img width=\"100%\"  src='"+ baseUrl + "/" + list[j].imgUrl +"' alt=\"\">"+
                                    "</div>"+
                                    "<div   class=\"col-sm-12 col-xs-12\">"+
                                    "<h3  >"+list[j].name+"</h3>"+
                                    "<span class=\"text-short-hidden\">" + list[j].abstractText+"</span>"+
                                    "</div>"+
                                    "</a>" +
                                    "</div>"+
                                    "<hr>"+
                                    "</div>"
                                )
                            }

                        }

                    }
                    i++;
                    $(".pullUpLabel").html("点击加载更多")
                }else{
                    $(".pullUpLabel").html("没有更多了")

                }
            },"json");
            wrapper.refresh();/****remember to refresh after action completed！！！   ---id.refresh(); --- ****/
        },1000);
    }
</script>

</body>
</html>